body {
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: #f0faf5;*/
    background-image: url("https://i.pinimg.com/originals/d6/21/22/d62122573fa8f7622af9a2ef0233fcdd.jpg");
    /*background-size: cover;*/
    background-repeat: repeat;
}

.wrapper {
    margin-top: -100px;
    border: 1px solid black;
    border-radius: 3px;
    padding: 20px;
    background-color: white;
    box-shadow: inset 0 0 7px 0 rgba(0, 0, 0, 0.13);
}

.quote {
    padding: 10px;
    font-size: 30px;
    font-style: italic;
    display: inline-block;
    max-width: 400px;
}

.politician {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 20px;
}

button {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: limegreen;
    color: white;
}

button:hover {
    cursor: pointer;
    display: flex;
    justify-self: flex-end;
}


